openapi: 3.0.3
info:
  title: CM-HUB 上游客户对接 API
  version: 1.6.0-staging
  description: |
    当前已实现的上游服务器端合同：原子推送空提预报与整批物流单据、创建/更新单条物流单据、
    主动上传 PDF 面单，以及按头程单号查询。TYG v1.1 staging contract uses the
    separate /air-shipments and /label-pushes routes; legacy routes remain supported.
    除独立的 /healthz 探针外，请求必须携带有效 X-API-Key。
    上游不能写入 CM-HUB 状态或打印事件；仓库取单与未来签名回调不属于本合同。
servers:
  - url: https://api.cmhubtool.com/api/v1
    description: 规范生产入口（唯一公开基址）
security:
  - ApiKeyAuth: []
tags:
  - name: Inbound Batches
    description: 使用当前客户身份提交一张空提预报及其全部物流单据
  - name: Shipments
    description: 当前客户范围内的物流单据
  - name: TYG v1.1 (staging)
    description: 独立于旧批次和原始 PDF 上传流的 TYG Base64 面单合同
paths:
  /air-shipments:
    post:
      tags: [TYG v1.1 (staging)]
      summary: TYG v1.1 创建或更新空运提单预报
      description: 仅 staging 合同。Idempotency-Key 必填；仓库开始收货后，仅完全相同的预报可重放。
      operationId: tygV11UpsertAirShipment
      x-required-scope: shipments:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TygAirShipmentInput'
      responses:
        '200':
          description: 已创建、更新或幂等重放
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TygAirShipmentResponse'
        '400': { $ref: '#/components/responses/TygBadRequest' }
        '409': { $ref: '#/components/responses/TygConflict' }
  /label-pushes:
    post:
      tags: [TYG v1.1 (staging)]
      summary: TYG v1.1 统一逐票面单推送
      description: Separate from legacy raw-PDF upload. Standard Base64 PDF only; 5 MiB decoded PDF and 7 MiB JSON request limits.
      operationId: tygV11PushLabel
      x-required-scope: labels:write
      x-max-request-body: 7MiB
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TygLabelPushInput'
      responses:
        '200':
          description: Created, duplicate, PDF replacement, or atomic tracking-and-PDF update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TygLabelPushResponse'
        '400': { $ref: '#/components/responses/TygBadRequest' }
        '404': { $ref: '#/components/responses/TygNotFound' }
        '409': { $ref: '#/components/responses/TygConflict' }
        '413': { $ref: '#/components/responses/TygPayloadTooLarge' }
        '415': { $ref: '#/components/responses/TygUnsupportedMediaType' }
        '422': { $ref: '#/components/responses/TygInvalidPdf' }
  /inbound-batches:
    post:
      tags: [Inbound Batches]
      summary: 推送空提预报与整批物流单据
      description: |
        从 X-API-Key 推导来源客户，并在一个事务中创建或更新一张空运提货单、关联本批全部物流单据。
        shipments 支持 1 至 5,000 条；推荐一批货使用本接口，而不是分别调用独立的空提接口。
        完整请求持久化用于幂等、对账和兼容未知字段。SUBMITTED 进度只代表 QZ 已接受，不代表物理出纸。
      operationId: upsertInboundBatch
      x-required-scope: shipments:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundBatchInput'
            examples:
              inboundBatch:
                summary: 一张空提预报与两条物流映射
                value:
                  batchId: TY-20260829-18098109734
                  airPickup:
                    billNo: 180-98109734
                    forecastCartons: 120
                    forecastPackages: 2000
                    forecastWeight: 1850.5
                    forecastWeightUnit: KG
                    remarks: JFK 预报
                  shipments:
                    - firstLegTrackingNo: HHWV06218005702YQ
                      courierTrackingNo: LC095500137US
                    - firstLegTrackingNo: HHWVP6225107301YQ
                      courierTrackingNo: LP095529498US
      responses:
        '200':
          description: 整批已经原子写入，或幂等返回既有结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /shipments:
    post:
      tags: [Shipments]
      summary: 创建或更新物流单据
      description: |
        firstLegTrackingNo 是当前客户范围内的唯一业务键。新记录由 CM-HUB 写为 RECEIVED；
        请求不能设置或推进状态。完整请求体保存为内部 raw_data 快照，未知字段兼容保留。
        labelUrl 只是兼容保留的上游来源元数据；CM-HUB 不会反向抓取它。
      operationId: upsertShipment
      x-required-scope: shipments:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentInput'
            examples:
              shipment:
                summary: 创建物流单据
                value:
                  firstLegTrackingNo: HHWV06218005702YQ
                  courierTrackingNo: LC095500137US
                  carrier: USPS
                  labelUrl: https://labels.example.com/LC095500137US.pdf
                  labelSha256: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
                  order_id: SO-20260828-0001
                  recipient_name: Jane Doe
                  phone: +1-212-555-0100
                  address:
                    line1: 123 Example Ave
                    city: New York
                    state: NY
                    postalCode: '10001'
                    country: US
                  items:
                    - sku: SKU-RED-01
                      name: Red Widget
                      quantity: 2
                  upstream_extension:
                    channel: shopify
      responses:
        '200':
          description: 已创建或更新物流单据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /shipments/by-first-leg/{firstLegTrackingNo}/label:
    put:
      tags: [Shipments]
      summary: 主动上传 PDF 面单资产
      description: |
        必须先创建物流单据。CM-HUB 验证声明 SHA-256、PDF 头尾标识，并把内容保存到
        美国服务器私有存储。内容哈希在同一物流单据内去重；本接口不创建公开下载 URL。
      operationId: uploadShipmentLabel
      x-required-scope: labels:write
      parameters:
        - name: firstLegTrackingNo
          in: path
          required: true
          description: 头程单号
          schema:
            type: string
            maxLength: 128
        - $ref: '#/components/parameters/LabelSha256'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/pdf:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: PDF 已校验并保存，或命中同一内容资产
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelAssetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /shipments/by-first-leg/{firstLegTrackingNo}:
    get:
      tags: [Shipments]
      summary: 按头程单号查询当前客户的物流单据
      operationId: getShipmentByFirstLegTrackingNo
      x-required-scope: shipments:read
      parameters:
        - name: firstLegTrackingNo
          in: path
          required: true
          description: 头程单号
          schema:
            type: string
            maxLength: 128
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 客户专属服务器端 API Key；每把 Key 具有独立作用域和生命周期，不得下发到浏览器。
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: 8–128 位字母、数字、下划线或连字符；重试必须复用原值，另一笔请求不得复用。
      schema:
        type: string
        minLength: 8
        maxLength: 128
        pattern: '^[a-zA-Z0-9_-]{8,128}$'
    RequestId:
      name: X-Request-ID
      in: header
      required: false
      description: 可选链路追踪 ID；无效或未提供时由 CM-HUB 生成。
      schema:
        type: string
        minLength: 8
        maxLength: 64
        pattern: '^[a-zA-Z0-9_-]{8,64}$'
    LabelSha256:
      name: X-Label-SHA256
      in: header
      required: true
      description: PDF 原始字节的 SHA-256；64 位十六进制。
      schema:
        type: string
        pattern: '^[a-fA-F0-9]{64}$'
  schemas:
    TygAirShipmentInput:
      type: object
      additionalProperties: false
      required: [airWaybillNo, forecastCartons, forecastPackages, forecastWeight, weightUnit]
      properties:
        airWaybillNo: { type: string, maxLength: 32 }
        forecastCartons: { type: integer, minimum: 1, maximum: 999999 }
        forecastPackages: { type: integer, minimum: 1, maximum: 999999 }
        forecastWeight: { type: number, exclusiveMinimum: 0, multipleOf: 0.001 }
        weightUnit: { type: string, enum: [KG, LB] }
    TygLabelPushInput:
      type: object
      additionalProperties: false
      required: [airWaybillNo, originalTrackingNo, transferTrackingNo, labelBase64]
      properties:
        airWaybillNo: { type: string, maxLength: 32 }
        originalTrackingNo: { type: string, maxLength: 128 }
        transferTrackingNo: { type: string, maxLength: 128 }
        labelBase64:
          type: string
          description: Standard Base64 PDF only; no data URL or whitespace. Decoded content is limited to 5 MiB.
          pattern: '^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$'
        replacementReason: { type: string, maxLength: 200 }
    TygAirShipmentResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string, enum: [SUCCESS] }
        message: { type: string }
        data: { type: object, additionalProperties: true }
        requestId: { type: string }
        idempotentReplay: { type: boolean }
    TygLabelPushResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string, enum: [SUCCESS] }
        message: { type: string }
        requestId: { type: string }
        idempotentReplay: { type: boolean }
        data:
          type: object
          required: [originalTrackingNo, transferTrackingNo, operation, labelVersion, duplicate, latePush, relationshipChanged, reprintRequired]
          properties:
            originalTrackingNo: { type: string }
            transferTrackingNo: { type: string }
            operation: { type: string, enum: [CREATED, DUPLICATE, PDF_REPLACED, TRACKING_AND_PDF_UPDATED, FILE_RESTORED] }
            labelVersion: { type: integer, minimum: 1 }
            duplicate: { type: boolean }
            latePush: { type: boolean }
            relationshipChanged: { type: boolean }
            reprintRequired: { type: boolean }
    AirPickupForecastInput:
      type: object
      required: [billNo, forecastCartons, forecastPackages, forecastWeight, forecastWeightUnit]
      additionalProperties: true
      properties:
        billNo:
          type: string
          maxLength: 32
          description: 全局归一化唯一；忽略空格、大小写和连字符。
        cargoName:
          type: string
          maxLength: 100
        forecastCartons:
          type: integer
          minimum: 1
          maximum: 999999
        forecastPackages:
          type: integer
          minimum: 1
          maximum: 999999
        forecastWeight:
          type: number
          exclusiveMinimum: 0
        forecastWeightUnit:
          type: string
          enum: [KG, LB]
        remarks:
          type: string
          maxLength: 200
    InboundBatchInput:
      type: object
      required: [batchId, airPickup, shipments]
      additionalProperties: true
      properties:
        batchId:
          type: string
          maxLength: 128
          description: 当前客户内稳定唯一的上游批次标识。
        airPickup:
          $ref: '#/components/schemas/AirPickupForecastInput'
        shipments:
          type: array
          minItems: 1
          maxItems: 5000
          uniqueItems: false
          items:
            $ref: '#/components/schemas/ShipmentInput'
    InboundBatchResult:
      type: object
      required: [batchId, airPickupOrderId, billNo, clientName, shipmentCount]
      properties:
        batchId:
          type: string
        airPickupOrderId:
          type: string
          format: uuid
        billNo:
          type: string
        clientName:
          type: string
        shipmentCount:
          type: integer
          minimum: 1
          maximum: 5000
    InboundBatchResponse:
      type: object
      required: [data, requestId]
      properties:
        data:
          $ref: '#/components/schemas/InboundBatchResult'
        requestId:
          type: string
        idempotentReplay:
          type: boolean
    ShipmentInput:
      type: object
      required: [firstLegTrackingNo]
      additionalProperties: true
      description: |
        未定义顶层字段会进入内部原始载荷快照。status 不是可写属性；即使作为未知字段出现，
        也不会改变 CM-HUB 状态。
      properties:
        firstLegTrackingNo:
          type: string
          maxLength: 128
          description: 当前客户范围内唯一的头程单号
        courierTrackingNo:
          type: string
          maxLength: 128
          description: 末端快递单号
        carrier:
          type: string
          maxLength: 64
        labelUrl:
          type: string
          format: uri
          maxLength: 2048
          pattern: '^https://'
          description: 兼容保留的上游来源元数据；CM-HUB 和仓库均不会抓取。
        labelSha256:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
        attributes:
          type: object
          additionalProperties: true
        order_id:
          type: string
          maxLength: 128
          description: 上游订单参考号
        recipient_name:
          type: string
          maxLength: 128
        phone:
          type: string
          maxLength: 64
        address:
          oneOf:
            - type: string
              minLength: 1
            - type: object
              minProperties: 1
              additionalProperties: true
        items:
          type: array
          items: {}
    ShipmentStatus:
      type: string
      readOnly: true
      description: CM-HUB-owned 状态；上游写入合同不接受该字段。
      enum: [RECEIVED, READY_TO_PRINT, PRINTED, BLOCKED, PRINT_FAILED, CANCELLED]
    Shipment:
      type: object
      required: [id, firstLegTrackingNo, status, labelAssetReady, rawDataCaptured, version, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          nullable: true
        firstLegTrackingNo:
          type: string
          maxLength: 128
        courierTrackingNo:
          type: string
          nullable: true
        carrier:
          type: string
          nullable: true
        labelUrl:
          type: string
          nullable: true
          description: 兼容保留的上游来源元数据；CM-HUB 和仓库均不会抓取。
        labelSha256:
          type: string
          nullable: true
        labelAssetReady:
          type: boolean
          description: 是否已有当前 CM-HUB 私有面单资产；不暴露存储路径。
        recipientName:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        address:
          nullable: true
          oneOf:
            - type: string
            - type: object
              additionalProperties: true
        items:
          type: array
          nullable: true
          items: {}
        status:
          $ref: '#/components/schemas/ShipmentStatus'
        attributes:
          type: object
          nullable: true
          additionalProperties: true
        rawDataCaptured:
          type: boolean
          description: 完整上游请求体已在内部保存；原始载荷不在常规响应中返回。
        version:
          type: integer
          minimum: 1
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ShipmentResponse:
      type: object
      required: [data, requestId]
      properties:
        data:
          $ref: '#/components/schemas/Shipment'
        requestId:
          type: string
        idempotentReplay:
          type: boolean
    LabelAsset:
      type: object
      required: [id, shipmentId, sha256, byteSize, contentType, shipmentStatus, reused]
      properties:
        id:
          type: string
          format: uuid
        shipmentId:
          type: string
          format: uuid
        sha256:
          type: string
          pattern: '^[a-f0-9]{64}$'
        byteSize:
          type: integer
          minimum: 1
        contentType:
          type: string
          enum: [application/pdf]
        shipmentStatus:
          $ref: '#/components/schemas/ShipmentStatus'
        reused:
          type: boolean
    LabelAssetResponse:
      type: object
      required: [data, requestId]
      properties:
        data:
          $ref: '#/components/schemas/LabelAsset'
        requestId:
          type: string
    ErrorBody:
      type: object
      required: [code, message, requestId]
      properties:
        code:
          type: string
        message:
          type: string
        requestId:
          type: string
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    TygErrorResponse:
      type: object
      required: [code, message, requestId]
      properties:
        code: { type: string }
        message: { type: string }
        requestId: { type: string }
  responses:
    TygBadRequest:
      description: TYG v1.1 validation, Base64, or idempotency-key error
      content: { application/json: { schema: { $ref: '#/components/schemas/TygErrorResponse' } } }
    TygNotFound:
      description: The v1.1 air-shipment forecast does not exist
      content: { application/json: { schema: { $ref: '#/components/schemas/TygErrorResponse' } } }
    TygConflict:
      description: Idempotency, tracking binding, or locked forecast conflict
      content: { application/json: { schema: { $ref: '#/components/schemas/TygErrorResponse' } } }
    TygPayloadTooLarge:
      description: The decoded PDF exceeds 5 MiB or JSON request exceeds 7 MiB
      content: { application/json: { schema: { $ref: '#/components/schemas/TygErrorResponse' } } }
    TygUnsupportedMediaType:
      description: TYG v1.1 accepts application/json only
      content: { application/json: { schema: { $ref: '#/components/schemas/TygErrorResponse' } } }
    TygInvalidPdf:
      description: Base64 decoded but is not a structurally recognizable PDF
      content: { application/json: { schema: { $ref: '#/components/schemas/TygErrorResponse' } } }
    BadRequest:
      description: 请求参数或幂等键无效
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: API Key 缺失、无效、过期或已停用
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INVALID_API_KEY
              message: 缺少或无效的 X-API-Key。
              requestId: 4b2c8080-87a4-4f5c-901d-2efcb3d8bba5
    Forbidden:
      description: API Key 有效，但缺少当前操作所需的作用域
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INSUFFICIENT_SCOPE
              message: 当前 API Key 缺少 shipments:write 权限。
              requestId: 4b2c8080-87a4-4f5c-901d-2efcb3d8bba5
    NotFound:
      description: 当前客户下未找到物流单据或路径不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: 相同请求或面单正在处理、同一幂等键用于不同载荷，或上传被更新面单取代
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: 超出客户频率限制
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PayloadTooLarge:
      description: PDF 超过服务端允许的大小
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: 面单上传未使用 application/pdf
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableContent:
      description: PDF 结构或 SHA-256 校验失败
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: 未预期的服务端错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: 数据库、缓存或其他依赖暂时不可用
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
